<app-header-top></app-header-top>
<app-header-contain></app-header-contain>
<app-horizontal-menu></app-horizontal-menu>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <app-header-marquee-articles></app-header-marquee-articles>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <app-header-search></app-header-search>
            </div>
        </div>
    </div>
</section>