<header class="menu">
  <div class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="40">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="menu-active menu-home" href="" title="home">
                <span class="fa fa-home" aria-hidden="true"></span>
                Trang chủ</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    Chủa Kỳ Viên Trung Nghĩa
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="article?id=article?id=nui-sinh-trung-chua-ky-vien-trung-nghia">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        Giới thiệu
                      </a>
                    </li>
                    <li>
                      <a href="article?id=chua-ky-vien-trung-nghia-mo-hinh-chanh-dien">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        Mô Hình Chánh Điện
                      </a>
                    </li>
                    <li>
                      <a href="article?id=chua-ky-vien-trung-sinh-hoat-noi-tu">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        Sinh hoạt nội tự
                      </a>
                    </li>
                    <li>
                      <a href="article?id=chua-ky-vien-trung-nghia-cung-duong">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        Cúng Dường
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="article?id=hoa-tan-tu">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    Chùa Hoà Tân
                  </a>
                </li>
                <li>
                  <a href="article?id=vai-net-ve-chua-bao-son">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    Chùa Bảo Sơn
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="list-topic" title="">Bản tin</a>
            </li>
            <li>
              <a href="photo-album" title="">Hình ảnh</a>
            </li>
            <li>
              <a href="video-album" title="">Truyền hình</a>
            </li>
            <li>
              <a href="book-collection?col=ALL">
                Kinh Sách Tổng Hợp
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let collection of bookcollections">
                  <a href="book-collection?col={{collection.CollectionUrl}}">
                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    {{collection.CollectionName}}
                    <span class="caret"></span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="thap-linh-cot" title="">Lưu giữ tro cốt</a>
            </li>
            <li>
              <a href="qa" title="">Hỏi đáp</a>
            </li>
            <li>
              <a href="contact" title="">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>