<div id="page" class="index">
  <app-header></app-header>
  <div class="page-head">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li>
          <a href="/">Trang chủ</a>
        </li>
        <li>
          <a href="book-collection?col={{book.CollectionUrl}}">{{book.CollectionName}}</a>
        </li>
        <li class="active">{{book.Title}}</li>
      </ul>
    </div>
  </div>
  <div class="book-detail">
    <div class="container-fluid">
      <div class="top-detail width-common">
        <div class="wrapper  width-common">
          <div class="thumb">
            <img class="img-responsive" src="resources/imgs/BookCover/{{book.BookId}}.jpg" alt="{{book.Title}}" />

          </div>
          <div class="content">
            <div class="width-common">
              <h1 class="title-book">{{book.Title}}</h1>
              <a class="btn-like" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Yêu thích">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <div class="author" *ngIf="book.Author">
                <span class="text-uppercase padding-right-15">tác giả:</span>
                <span class="name">{{book.Author}}</span>
              </div>
              <div class="type-book">
                <div class="text-uppercase padding-right-15">tủ sách:</div>
                <div class="type-list">
                  <a href="book-collection?col={{book.CollectionUrl}}">{{book.CollectionName}}</a>
                </div>
              </div>
              <div class="type-book">
                <div class="type-list">
                  <a href="resources/books/{{book.BookUrl}}.pdf" targer="_blank">Tải về</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.top-detail -->

      <div class="bottom-detail width-common">
        <div class="tabs-scroll">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#intro">
                <i class="fa fa-server"></i>Giới thiệu</a>
            </li>
            <li>
              <a data-toggle="tab" href="#book-addition">
                <i class="fa fa-book"></i>Sách liên quan</a>
            </li>
            <li>
              <a data-toggle="tab" href="#book-comment">
                <i class="fa fa-stack-exchange"></i>Bình luận</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="intro" class="tab-pane fade in active" [innerHTML]="book.Sumarize"></div>
            <div id="book-addition" class="tab-pane fade">
              <div class="book-list">
                <div class="book-block owl-carousel owl-theme">
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn12.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn13.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn14.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn15.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn16.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a>
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>

                </div>

              </div>
              <!-- /.book-list -->
            </div>
            <div id="book-comment" class="tab-pane fade">
              <div class="fb-comments" [attr.data-href]="href" data-numposts="5" data-width="100%"></div>
            </div>
          </div>
        </div>
        <!-- /.tabs-scroll -->
      </div>
      <!-- /.bottom-detail -->
    </div>
    
  </div>
  <app-footer></app-footer>
</div>