<div id="page" class="index">
  <app-header></app-header>
  <div class="page-head">
			<div class="container-fluid">
				<ul class="breadcrumb">
					<li>
						<a href="index.html">Trang chủ</a>
          </li>
          <li>
              <a href="index.html">Kinh sách tổng hợp</a>
            </li>
					<li class="active">Chuyển hóa khổ đau - Quảng Trí</li>
				</ul>
			</div>
		</div>
  <div class="book-detail">
    <div class="container-fluid">
      <div class="top-detail width-common">
        <div class="wrapper  width-common">
          <div class="thumb">
            <img class="img-responsive" src="resources/imgs/img-3883-1373352355.jpg" alt="Chuyển hóa khổ đau - Quảng Trí" />
          </div>
          <div class="content">
            <div class="width-common">
              <h1 class="title-book">Chuyển hóa khổ đau - Quảng Trí</h1>
              <a class="btn-like" href="#" data-toggle="tooltip" data-placement="top" data-original-title="Yêu thích">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <div class="author">
                <span class="text-uppercase padding-right-15">tác giả:</span>
                <span class="name">Quảng Trí</span>
              </div>
              <div class="type-book">
                <div class="text-uppercase padding-right-15">thể loại:</div>
                <div class="type-list">
                  <a href="book-collection?col=van-hoa-phat-giao">Văn hoá Phật giáo,</a>
                  <a href="book-collection?col=luan">Luận</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.top-detail -->

      <div class="bottom-detail width-common">
        <div class="tabs-scroll">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#intro">
                <i class="fa fa-server"></i>Giới thiệu</a>
            </li>
            <li>
              <a data-toggle="tab" href="#book-addition">
                <i class="fa fa-book"></i>Sách liên quan</a>
            </li>
            <li>
              <a data-toggle="tab" href="#book-comment">
                <i class="fa fa-stack-exchange"></i>Bình luận</a>
            </li>
            <li>
              <a data-toggle="tab" href="#book-review">
                <i class="fa fa-eye"></i>Xem trước</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="intro" class="tab-pane fade in active">
              <p>Việc phối hợp giữa tâm lý học hiện đại và giáo lý đạo Phật trong nghiên cứu và thực hành của ngành Tâm lý học là một xu hướng ngày càng phổ biến. Cũng trong xu hướng đó, tập sách <b><i>Chuyển hóa khổ đau: Ứng dụng lời Phật dạy để chữa trị những vấn đề tâm lý đã ra đời..</i></b></p>
              <br/>
              <p>Tập sách này là tập hợp những bài viết về vấn đề tâm lý. Có những vấn đề thuộc về tâm bệnh của cá nhân, có những vấn đề liên quan đến các mối quan hệ xã hội. Trong mỗi vấn đề, người viết đã phân tích dưới quan điểm của tâm lý học hiện đại cũng như dưới nhãn quan của Phật giáo, giúp bạn đọc hiểu được khái niệm của vấn đề, chỉ ra nguyên nhân của nó, những biểu hiện hoặc triệu chứng, và điều quan trọng hơn nữa là đưa ra những liệu pháp để chữa trị, để chuyển hóa những tâm bệnh, những bất ổn trong các mối quan hệ xã hội ấy.</p>
            </div>
            <div id="book-addition" class="tab-pane fade">
              <div class="book-list">
                <div class="book-block owl-carousel owl-theme">
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn12.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn13.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn14.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn15.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn16.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a>
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>

                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>
                  <div class="block-item">
                    <a href="#">
                      <div class="thumb">
                        <img src="resources/imgs/books/book_kn17.png" alt="book" />
                      </div>
                    </a>
                  </div>

                </div>

              </div>
              <!-- /.book-list -->
            </div>
            <div id="book-comment" class="tab-pane fade">
              <div class="comments">
                <div class="comment-item">
                  <div class="top">
                    <span class="user-name">thanhbinhnguyen</span>
                    <span class="pull-right">10 tháng trước</span>
                  </div>
                  <div class="item-content">
                    Bình luận 1
                  </div>
                  <div class="bottom">
                    <a class="btn-comment like" href="javascript:void()">
                      <span class="">8</span>
                    </a>
                    <a class="btn-comment dis-like" href="javascript:void()">
                      <span class="">1</span>
                    </a>
                  </div>
                </div>
                <!-- /.comment-item -->
                <div class="comment-item">
                  <div class="top">
                    <span class="user-name">thanhbinhnguyen</span>
                    <span class="pull-right">10 tháng trước</span>
                  </div>
                  <div class="item-content">
                    Bình luận 2
                  </div>
                  <div class="bottom">
                    <a class="btn-comment like" href="javascript:void()">
                      <span class="">8</span>
                    </a>
                    <a class="btn-comment dis-like" href="javascript:void()">
                      <span class="">1</span>
                    </a>
                  </div>
                </div>
                <!-- /.comment-item -->
              </div>
              <!-- /.comments -->
              <div class="comment-form">
                <div class="form-input">
                  <label>Tên thành viên:
                    <span class="user-name">chuakyvientrungnghia</span>
                  </label>
                </div>
                <div class="form-input">
                  <label>Nội dung
                    <span class="red">*</span>
                  </label>
                  <textarea class="form-control noi-dung" cols="30" rows="5"></textarea>
                </div>
                <div class="form-input">
                  <label>Mã kiểm tra:</label>
                  <img src="resources/imgs/capcha.png" />
                  <a href="#">Tải lại hình</a>
                </div>
                <div class="form-input">
                  <label>Nhập mã kiểm tra:</label>
                  <input type="text">
                  <p class="notice">( Nhập các ký tự ở hình trên không phân biệt chữ HOA chữ thường )</p>
                </div>

                <div class="btn-300">
                  <div class="form-input">
                    <input type="submit" value="Gửi bình luận" />
                  </div>
                </div>
              </div>
            </div>
            <div id="book-review" class="tab-pane fade">
              <object class="file-review" width="100%" data="resources/imgs/book-review/chuyen-hoa-kho-dau-fd13483be0.pdf"></object>
            </div>
          </div>
        </div>
        <!-- /.tabs-scroll -->
      </div>
      <!-- /.bottom-detail -->
    </div>
  </div>
  <app-footer></app-footer>
</div>