<div id="page" class="index">
    <app-header></app-header>
    <section class="main-page">
        <div class="container-fluid">
            <div class="banner-contact mb-20">
                <img class="img-responsive" src="resources/imgs/banner/banner-contact.png" alt="Chùa Kỳ Viên Trung Nghĩa" />
            </div>
            <div class="page-head">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Trang chủ</a>
                    </li>
                    <li class="active">Liên hệ</li>
                </ul>
            </div>

            <div class="map-contact">
                <div class="panel-group" id="accordion_reg" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne_reg">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseOne_reg" aria-expanded="true" aria-controls="collapseOne_reg">
                                    Chùa Kỳ Viên Trung Nghĩa
                                </a>
                            </h4>
                            <ul class="ib-list">
                                <li>
                                    <span class="ib-title">Địa chỉ:</span>
                                    <span>160 Sinh Trung, Thành phố Nha Trang, Tỉnh Khánh Hòa</span>
                                </li>
                                <li>
                                    <span class="ib-title">Facebook:</span>
                                    <a href="https://www.facebook.com/chuakyvientrungnghia">chuakyvientrungnghia</a>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseOne_reg" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_reg">
                            <div class="panel-body">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.880369866504!2d109.18673431481467!3d12.25637409132795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31706787ed1f8329%3A0x8945bc45a74cc12b!2zMTYwIFNpbmggVHJ1bmcsIFbhuqFuIFRo4bqhbmgsIFRow6BuaCBwaOG7kSBOaGEgVHJhbmcsIEtow6FuaCBIw7JhIDY1MDAwMA!5e0!3m2!1sen!2s!4v1526379445363"
                                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo_reg">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseTwo_reg" aria-expanded="false"
                                    aria-controls="collapseTwo_reg">
                                    Chùa Hoà Tân
                                </a>
                            </h4>
                            <ul class="ib-list">
                                <li>
                                    <span class="ib-title">Địa chỉ:</span>
                                    <span>QL1A - Thôn Vinh Bình - Xã Cam Tân - Huyện Cam Lâm - Tỉnh Khánh Hoà</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseTwo_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_reg">
                            <div class="panel-body">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8940682525313!2d109.11044931526253!3d12.119399991418891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3170f5f5b82f37f5%3A0x59d176b71aa77c3a!2sChua+Hoa+Tan!5e0!3m2!1sen!2s!4v1526379716824"
                                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree_reg">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_reg" href="#collapseThree_reg" aria-expanded="false"
                                    aria-controls="collapseThree_reg">
                                    Chùa Bảo Sơn
                                </a>
                            </h4>
                            <ul class="ib-list">
                                <li>
                                    <span class="ib-title">Địa chỉ:</span>
                                    <span>5th-St-Murriete-CA-92562</span>
                                </li>
                                <li>
                                    <span class="ib-title">Hotline:</span>
                                    <span>0898129421</span>
                                </li>
                            </ul>
                        </div>
                        <div id="collapseThree_reg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_reg">
                            <div class="panel-body">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.1066494441616!2d-117.22228898441506!3d33.55060528074537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc8234a31d4f9f%3A0x31d014adb9661cb0!2s5th+St%2C+Murrieta%2C+CA+92562!5e0!3m2!1sen!2s!4v1526379801616"
                                    height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>