<div class="container-fluid">
  <div class="row">
    <div class="my-col col-xs-3 col-sm-3 col-md-3">
      <h4>
        <a href="/" title="">Trang chính</a>
      </h4>
      <ul>
        <li>
          <a href="article?id=nui-sinh-trung-chua-ky-vien-trung-nghia" title="">Chùa Kỳ Viên Trung Nghĩa</a>
        </li>
        <li>
          <a href="article?id=hoa-tan-tu" title="">Chùa Hoà Tân</a>
        </li>
        <li>
          <a href="article?id=vai-net-ve-chua-bao-son" title="">Chùa Bảo Sơn</a>
        </li>
        <li>
          <a href="list-topic" title="">Tin tức</a>
        </li>
      </ul>
    </div>
    <div class="my-col col-xs-3 col-sm-3 col-md-3">
      <h4>
        <a href="photo-album" title="">Hình Ảnh</a>
      </h4>
      <ul>
          <li *ngFor="let palbum of filterPhotoAlbums()">
          <a href="photo-display?id={{palbum.AlbumUrl}}" title="{{palbum.AlbumName}}">{{palbum.AlbumName}}</a>
        </li>
      </ul>
    </div>
    
    <div class="my-col col-xs-3 col-sm-3 col-md-3">
      <h4>
        <a href="video-album" title="">Truyền hình</a>
      </h4>
      <ul>
        <li *ngFor="let valbum of filterVideoAlbums()">
            <a href="video-list?album={{valbum.AlbumUrl}}" title="{{valbum.AlbumName}}">{{valbum.AlbumName}}</a>
        </li>
      </ul>
    </div>
    <div class="my-col col-xs-3 col-sm-3 col-md-3">
      <h4>
        <a href="book-collection?col=ALL" title="">Kinh sách tổng hợp</a>
      </h4>
      <ul>
        <li *ngFor="let collection of bookcollections">
          <a href="book-collection?col={{collection.CollectionUrl}}" title="">{{collection.CollectionName}}</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="line"></div>
</div>