<div class="topic-content">
  <div class="new-block">
    <h2 class="new-block-title">
      <a href="#" title="">
        <span>Tin liên quan</span>
      </a>
    </h2>
  </div>
  <div class="row">
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>
    <div class="my-col col-xs-4 col-sm-4 col-md-4">
      <div class="block-2">
        <a href="#" title="#" class="thumb">
          <img class="" src="resources/imgs/cate/1.jpg">
        </a>
        <h3>
          <a href="#" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
        </h3>
      </div>
    </div>

  </div>
  <!-- /.row -->
  <div class="pagination ">
    <ul class="mod-pagination">
      <li class="button">
        <a class="disabled" href="#0">Prev</a>
      </li>
      <li>
        <a class="current" href="#0">1</a>
      </li>
      <li>
        <a href="#0">2</a>
      </li>
      <li>
        <a href="#0">3</a>
      </li>
      <li>
        <a href="#0">4</a>
      </li>
      <li>
        <span>...</span>
      </li>
      <li>
        <a href="#0">20</a>
      </li>
      <li class="button">
        <a href="#0">Next</a>
      </li>
    </ul>
  </div>
  <!-- /.pagination -->
</div>