<div class="sidebar width-common">
    <h4 class="title-head-2 pl-10">Các thể loại sách</h4>
    <nav class="nav-accordion" role="navigation">
    <ul class="nav__list">
      <li>
        <a href="book-collection?col=kinh">Kinh</a>
      </li>
      <li>
        <a href="book-collection?col=luat">Luật</a>
      </li>
      <li>
        <a href="book-collection?col=luan">Luận</a>
      </li>
      <li>
        <a href="book-collection?col=van-hoa-phat-giao">Văn hoá Phật giáo</a>
      </li>
      <li>
        <a href="book-collection?col=van-hoc">Văn học</a>
      </li>
      <li>
        <a href="book-collection?col=tap-san-tam-thi">Tập san Tâm Thị</a>
      </li>
      <li>
        <a href="book-collection?col=tu-sach-tam-thi">Tủ sách Tâm Thị</a>
      </li>
    </ul>
  </nav>
</div>