<div class="box-tab box_cate width-common ">
  <div class="tabs-scroll">
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#news-tab-1">Văn hoá Phật giáo</a>
      </li>
      <li>
        <a data-toggle="tab" href="#news-tab-2">Kinh</a>
      </li>
      <li>
        <a data-toggle="tab" href="#news-tab-3">Luật</a>
      </li>
      <li>
        <a data-toggle="tab" href="#news-tab-4">Luận</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="news-tab-1" class="tab-pane fade in active">
        <div class="row">
          <div class="my-col col-xs-6 col-sm-6 col-md-6">
            <div class="block-1">
              <a href="article?id=hoang-phap-au-my" title="#" class="thumb">
                <img class="" src="resources/imgs/cate/1.jpg">
              </a>
              <h3>
                <a href="article?id=hoang-phap-au-my" title="">Chương Trình Phái Đoàn Hoằng Pháp Âu Mỹ tại Hoa Kỳ và Canada 2018</a>
              </h3>
              <p>Từ ngày 29/3/2018 đến ngày 22/5/2018 do HT Phương Trượng Chùa Viên Giác Đức Quốc hướng dẫn</p>
            </div>
          </div>

          <div class="my-col col-xs-6 col-sm-6 col-md-6">
            <ul class="list-border">
              <li>
                <a href="article?id=hoang-phap-au-my">Lễ Vía Bồ Tát Quán Âm Tại Tu Viện Huyền Không San Jose</a>
              </li>
              <li>
                <a href="article?id=hoang-phap-au-my">Thực Phẩm Cho Người Vô Gia Cư Tháng 5/2018</a>
              </li>
              <li>
                <a href="article?id=hoang-phap-au-my">Lễ Vía Đức Phật Xuất Gia, Nhập Niết Bàn, Bồ Tát Quán Âm</a>
              </li>
              <li>
                <a href="article?id=hoang-phap-au-my">Khóa Tu Học Truyền Thống GĐPTVN tại Đức quốc</a>
              </li>
              <li>
                <a href="article?id=hoang-phap-au-my">Lễ Huý Nhật Lần Thứ 19 Sư Bà Thích Đàm Lựu</a>
              </li>
            </ul>
          </div>
        </div>




      </div>
      <div id="news-tab-2" class="tab-pane fade">

      </div>
      <div id="news-tab-3" class="tab-pane fade">

      </div>
      <div id="news-tab-4" class="tab-pane fade">
      </div>
    </div>
  </div>
  <!-- /.tabs-scroll -->
</div>
<!-- /.box-tab  -->