<div id="page" class="index">
  <app-header></app-header>
  <section class="main-page">
    <div class="container-fluid">
      <div class="row">
        <div class="my-col-right col-xs-12 col-sm-9 col-md -9">
          <app-home-introduce-video></app-home-introduce-video>
          <div class="clearfix"></div>
          <app-home-topic1 topicId="van-de-quan-tam"></app-home-topic1>
        </div>
        <app-pannel-left></app-pannel-left>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <a href="#" class="cd-top">Back To Top</a>
</div>