<div id="page" class="index">
  <app-header></app-header>
  <section class="main-page page-video">
    <div class="container-fluid">
      <div class="new-block box_cate pos-rlt">
        <h2 class="new-block-title">
          <a href="video-list?album={{albumInfo.AlbumUrl}}" title="{{albumInfo.AlbumName}}">
            <span>{{albumInfo.AlbumName}}</span>
          </a>
        </h2>
        <a href="javascript:void(0);" class="redmore_cat" title="">({{totalItems}} video)</a>
        <div class="row pt-5">
          <div class="my-col col-xs-3 col-sm-3 col-md-3" style="height:250px" *ngFor="let media of medias">
            <div class="block-2">
              <figure>
                <a href="video-display?id={{media.MediaUrl}}" title="{{media.MediaName}}" class="thumb">
                  <img class="" src="/resources/videos/{{media.MediaId}}.jpg" style="height:135px">
                  <i class="video-icon"></i>
                </a>
              </figure>
              <h3 style="height:60px">
                <a href="video-display?id={{media.MediaUrl}}" title="{{media.MediaName}}">{{media.MediaName}}</a>
              </h3>
              <p class="meta-data" style="height:24px">
                <span class="count_view">{{media.CreatedDate}}</span>
              </p>
            </div>
          </div>
        </div>
        <app-pagination [maxPages]="totalPages" 
          [current]="currentPage" 
          [itemsPerPage]="itemsPerPage" 
          (changePage)="pageChanged($event)">
        </app-pagination>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <a href="#" class="cd-top">Back To Top</a>
</div>